<div class="col-lg-5 col-lg-offset-3">
	<div class="panel panel-primary log">
		<div class="panel-heading">
			<h2 class="panel-title">Inicio de sesion</h2>
		</div>
		<div class="panel-body">
			<div class="imagen">
				<img src="/images/login/image.png" alt="login">
			</div>
				<div class="input-group" ng-model="formulario">
					<div ng-repeat="mensaje in mensajes">{{mensaje}}</div>
					<form ng-submit="logear()">
						<input type="text" 
							   placeholder="Nombre de usuario" 
							   class="form-control inps" 
							   name="username"
							   ng-model="user.username"/>
						<input type="password" 
							   placeholder="Contraseña" 
							   class="form-control inps" 
							   name="password"
							   ng-model="user.password"/>
						<button type="submit" class="btn boton">Aceptar</button>
					</form>
				</div>
			</div>
	</div>
</div>