<div class="collapse navbar-collapse navbar-inverse">
	<ul class="nav navbar-nav">
		<li ng-class="getClass('/home')"><a ui-sref="home">Area de trabajo</a></li>
		<li ng-class="getClass('/info')"><a ui-sref="info">Información de usuarios</a></li>
		<li ng-class="getClass('/chat')" role="presentation"><a href="#">Chat <span class="badge">3</span></a></li>
	</ul>
</div>